<div class="box-messages">

    <div class="box-messages-all">
        
        <div class="chat">
            <ng-container *ngIf="messages.length > 0">
                <div
                    *ngFor="let msj of messages"
                    class="card-msj"
                    [ngClass]="{'message-right': msj.user === userCurrent.nickname}"
                >
                    <div class="content">
                        <p>{{ msj.message }}</p>
                    </div>
                    <span>{{ msj.user }} - {{ msj.date }}</span>
                </div>
            </ng-container>
            
        </div>


        <div class="box-message-field">
            <input class="message-field" name="message" id="message" [(ngModel)]="message" />

            <span (click)="sendMessage()">
                <i class="fas fa-paper-plane"></i>
            </span>
        </div>


    </div>

</div>