<div class="w-full min-h-screen flex flex-row justify-between items-start">

    <div class="banner w-6/12 min-h-screen pt-40 pl-12">

        <h1 class="text-5xl block w-9/12 text-color-accent font-semibold">Hola!! Bienvenido a Yohu.co</h1>
        
        <p class="text-lg w-10/12 text-justify text-color-accent font-extralight">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ex delectus totam possimus numquam ab qui rerum dicta eum cupiditate, accusantium beatae, mollitia maxime ullam, placeat in. Minus, unde natus.</p>

    </div>


    <div class="form w-6/12 min-h-screen">
        <router-outlet></router-outlet>
    </div>
</div>








