<div class="input-group mb-3" *ngIf="!dataInCookie">
    <span class="input-group-text" id="basic-addon1">@</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="name">
</div>

<button [disabled]="!isPermission" type="button" class="btn btn-primary" (click)="register()" *ngIf="!dataInCookie">Send</button>

<button *ngIf="!isPermission !dataInCookie" type="button" class="btn btn-primary" (click)="subscribePushNotification()">
    <div class="spinner-border" role="status" *ngIf='isLoading'>
        <span class="visually-hidden">Loading...</span>
    </div>
    Activar Notificaciones
</button>

<div class="alert alert-success" role="alert" *ngIf="dataInCookie">
    <strong>Codigo Registrado {{this.code}}</strong>
</div>

<div class="alert alert-success" role="alert" *ngIf="isAlert">
    <strong>{{this.textAlert}}</strong>
</div>

<pre>
    {{pushSubscription}}
</pre>