

<mat-card class="h-52 w-10/12 sm:w-7/12 md:w-6/12 mx-auto rounded-xl mb-5 flex flex-col justify-center items-center gap-3" *ngIf="dataInLS">
  <mat-card-header class="text-center w-full flex flex-col justify-center items-center gap-3">
    <mat-card-title class="text-2xl text-color-accent font-bold">Registro</mat-card-title>
    <mat-card-subtitle>
      <span class="text-base font-medium text-color-primary">Eres {{nameLocal}}?</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions class="flex flex-row justify-center items-center gap-3">
    <button (click)="isDataLS()" mat-stroked-button class="text-color-primary border-color-primary">
      Sí
    </button>
    <button (click)="dataInLS = false" mat-raised-button class="bg-color-accent">
      No
    </button>
  </mat-card-actions>
</mat-card>


<mat-card class="h-60 w-10/12 sm:w-7/12 md:w-6/12 mx-auto rounded-xl flex flex-col justify-center gap-3" *ngIf="!dataInLS">
  <mat-card-header class="text-center w-full flex flex-column justify-center items-center gap-3">
    <mat-card-title class="text-2xl text-color-accent font-bold">Registro</mat-card-title>
  </mat-card-header>
  <mat-card-content class="h-full w-full flex flex-col justify-center items-center gap-4">
    <mat-form-field appearance="standard" class="h-16 w-10/12 sm:w-8/12 mx-auto">
      <mat-label>Nobre del Local</mat-label>
      <input 
        matInput 
        type="text"
        [(ngModel)]="nameLocal"
      >
    </mat-form-field>

    <button  [disabled]="nameLocal.length <= 0" (click)="registerLocal()" mat-raised-button class="bg-color-primary">
      <mat-icon>send</mat-icon>
      Enviar
    </button>
  </mat-card-content>
</mat-card>