<mat-card class="w-2/12 mx-auto h-auto my-4 text-xl font-semibold text-center flex flex-row justify-around items-center gap-4" *ngIf="codeNewOrder !== ''">
    {{codeNewOrder}}
    <button mat-icon-button class="text-color-accent" (click)="codeNewOrder = ''">
        <mat-icon>cancel</mat-icon>
    </button>
</mat-card>

<div class="w-10/12 min-h-full flex flex-row justify-center items-start flex-wrap p-4 mx-auto g-4">
    <mat-card class="flex-device h-48 mx-2 my-4 rounded-md p-4 border-t-8 border-color-accent border-solid">
        <mat-card-header class="w-full flex flex-row justify-center items-center">
            <mat-card-title>Nuevo</mat-card-title>
        </mat-card-header>
        <mat-card-content class="w-full flex flex-row justify-center items-center">
            <span class="text-3xl font-bold text-color-accent">Nueva Orden</span>
        </mat-card-content>
        <mat-card-actions class="w-full flex flex-row justify-center items-center p-0 mx-0">
            <button mat-icon-button (click)="newDevie()" class="bg-color-accent">
                <mat-icon>add_alert</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card 
        *ngFor="let device of devices" 
        class="flex-device h-48 mx-2 my-4 rounded-md p-4 border-t-8 border-solid"
        [ngClass]="{
            'border-red-600': device.status.toLowerCase() === 'sin sincronizar',
            'border-yellow-400': device.status.toLowerCase() === 'sincronizado',
            'border-green-400': device.status.toLowerCase() === 'listo y avisado',
            'border-color-accent': device.status.toLowerCase() === 'en camino'
        }"  
    >
        <mat-card-header class="w-full flex flex-col justify-center items-center text-center">
            <mat-card-subtitle 
                [ngClass]="{
                    'text-red-600': device.status.toLowerCase() === 'sin sincronizar',
                    'text-yellow-400': device.status.toLowerCase() === 'sincronizado',
                    'text-green-400': device.status.toLowerCase() === 'listo y avisado',
                    'text-color-accent': device.status.toLowerCase() === 'en camino'
                }"            
            >
                {{device.status}}
            </mat-card-subtitle>
            <mat-card-title>{{device.code}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="w-full flex flex-row justify-center items-center">
            <span class="text-3xl font-bold text-color-accent">Order #{{ device.orderNumber }}</span>
        </mat-card-content>
        <mat-card-actions *ngIf="device.status.toLowerCase() !== 'sin sincronizar' && device.status.toLowerCase() !== 'listo y avisado'" class="w-full flex flex-row justify-center items-center p-0 mx-0">
            <button mat-icon-button (click)="alert(device)" class="bg-color-accent">
                <mat-icon>
                    {{ device.status.toLowerCase() === 'sincronizado' ? 'notifications_active' : 'done'}}
                </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>