<div class="w-10/12 min-h-full flex flex-row justify-around items-start flex-wrap p-4 mx-auto">
    <mat-card *ngFor="let device of devices" class="flex-device mx-2 my-4 rounded-md p-4">
        <mat-card-header class="w-full flex flex-row justify-center items-center">
            <mat-card-title>{{device.uniqueCode}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="w-full flex flex-row justify-center items-center">
            <span class="text-3xl font-bold text-color-primary">Order #{{ device.orderNumber }}</span>
        </mat-card-content>
        <mat-card-actions class="w-full flex flex-row justify-center items-center p-0 mx-0">
            <button mat-icon-button (click)="alert(device)" class="bg-color-primary">
                <mat-icon>notifications_active</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="flex-device mx-2 my-4 rounded-md p-4">
        <mat-card-header class="w-full flex flex-row justify-center items-center">
            <mat-card-title>Nuevo</mat-card-title>
        </mat-card-header>
        <mat-card-content class="w-full flex flex-row justify-center items-center">
            <span class="text-3xl font-bold text-color-primary">Nueva Orden</span>
        </mat-card-content>
        <mat-card-actions class="w-full flex flex-row justify-center items-center p-0 mx-0">
            <button mat-icon-button (click)="newDevie()" class="bg-color-primary">
                <mat-icon>add_alert</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>