.w-20-p {
    width: 20%;
}

.flex-device {
    flex: 0 1 20%;
    @media screen and (max-width: 768px){
        flex: 0 1 40%;
    }
    @media screen and (max-width: 420px){
        flex: 0 1 8 0%;
    }
}